body {
    background-color: rgba(236, 255, 255, 0.598);
    text-align: center;
}

.post {
    padding: 2rem;
  }

button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel {
background-color: #f44336;
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

  .theme-button {
    background-color: #a9a9a9;
    color: white;
  }

  .theme-button:hover {
    background-color: #dddddd;
  }


  :root {
    --background-color: #ffffff; 
    --text-color: #000000; 
  }
  
  body.dark-theme {
    --background-color: #1a1a1a;
    --text-color: #ffffff; 
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

.input-field, .textarea-field, .button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

.input-field, .textarea-field {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textarea-field {
  resize: vertical;
  height: 100px;
}

.button:hover {
  background-color: #0056b3;
}

.save-button {
  background-color: #28a745; 
}

.save-button:hover {
  background-color: #218838;
}

.cancel-button {
  background-color: #dc3545;
}

.cancel-button:hover {
  background-color: #c82333;
}

.add-new-note-button {
  background-color: #b534a8;
  color: white;
}

.add-new-note-button:hover {
  background-color: #c65ebea0;
}

.add-new-note {
  display: inline-block;
}

.new-note-form {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.create-user-button {
  background-color: #28a745; /* Green */
  color: white;
}

.create-user-button:hover {
  background-color: #218838;
}

.login-button {
  background-color: #17a2b8; /* Light blue */
  color: white;
}

.login-button:hover {
  background-color: #138496;
}

.logout-button {
  background-color: #dc3545; /* Red */
  color: white;
}

.logout-button:hover {
  background-color: #c82333;
}

/* Form container styles */
.user-form {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-top: 20px;
  max-width: 300px;
  margin: 0 auto;
}
